[user]
    name = Rasmus K
    email = rasmus105@protonmail.com

[init]
    defaultBranch = main

[pull]
    rebase = false

[core]
    editor = nvim

[includeIf "gitdir:~/git/work/"]
    path = ~/.gitconfig-personal # (my company)

[includeIf "gitdir:~/git/personal/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/git/traffitech/"]
    path = ~/.gitconfig-traffitech
