[user]
    name = Rasmus Kargo
    email = rasmus105@protonmail.com

[alias]
    d = !nvim -c 'CodeDiffStandalone'  

[init]
    defaultBranch = main

[pull]
    rebase = false

[core]
    editor = nvim
    pager = delta
	ignoreCase = false

[interactive]
    diffFilter = delta --color-only

[delta]
    side-by-side = true
    syntax-theme = gruvbox-dark

[includeIf "gitdir:~/git/work/"]
    path = ~/.gitconfig-personal # (my company)

[includeIf "gitdir:~/git/personal/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/git/traffitech/"]
    path = ~/.gitconfig-traffitech

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
